$width_mobile: 375px;
$width_desktop: 1440px;

//color
$soft-Red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesatured-Cyan: hsl(167, 40%, 24%);
$dark-Blue: hsl(198, 62%, 26%);
$dark-Cyan: hsl(168, 34%, 41%);
$backgroundFooter: hsl(167, 44%, 70%);
$button-hover: hsl(200, 100%, 72%);
$header: hsl(218, 25%, 19%);
$paragraph: hsl(220, 1%, 51%);

//color neutral
$veryDarkDesatured-Blue: hsl(212, 27%, 19%);
$veryDarkBlueGrayish-Blue: hsl(213, 9%, 39%);
$darkGrayish-Blue: hsl(232, 10%, 55%);
$grayish-Blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$font-size: 18px;