@import '_variables.scss';

// *************************MENU
.menu__container {
	max-width: 90%;
	margin: 0 auto;
}
.navbar {
	width: 100%;
	.menu-items {
		display: flex;
		height: 50vh;
		width: 95%;
		transform: translate(-150%);
		flex-direction: column;
		transition: transform 0.5s ease-in-out;
        position: relative;
        top: 80px;
        left: 3%;
		background-color: $white;
		z-index: 999;
		li {
            margin: auto;	
		}
	}
	.arrow-left {
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent; 
			border-right: 20px solid $white;
			position: absolute;
			right: 0;
			top: -20px;
	}
	.nav-container {
		li {
			list-style: none;
		}
		a {
			font-family: 'Barlow', sans-serif;
			text-decoration: none;
			font-weight: 600;
			font-size: 1rem;
			color: $header;
		}
		.menu-items-special{
			border-radius: 25px;
			background-color: $yellow;
			padding: 0.9rem 1.5rem;
			font-weight: 900;
		}
	}
}
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	display: block;
	position: relative;
	.checkbox {
		position: absolute;
		display: block;
		height: 32px;
		width: 32px;
		top: 24px;
		right: 0;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
	}
	.hamburger-lines {
		height: 26px;
		width: 32px;
		position: absolute;
		top: 24px;
		right: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.line {
			display: block;
			height: 2px;
			width: 100%;
			border-radius: 10px;
			background: $white;
		}
		.line1 {
			transform-origin: 100% 0%;
			transition: transform 0.4s ease-in-out;
		}
		.line2 {
			transition: transform 0.2s ease-in-out;
		}
		.line3 {
			transform-origin: 100% 0%;
			transition: transform 0.4s ease-in-out;
		}
	}
	input[type="checkbox"] {
		&:checked {
			~ {
				.menu-items {
					transform: translateX(0);
                    
				}
				.hamburger-lines {
					.line1 {
						transform: rotate(-45deg);
					}
					.line2 {
						transform: scaleY(0);
					}
					.line3 {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
.logo {
	position: absolute;
	top: 28px;
	left: 0;
	&__footer{
		filter: invert(48%) sepia(27%) saturate(674%) hue-rotate(118deg) brightness(94%) contrast(83%);
		width: 200px;
		margin: 50px auto;
	}
}

//*****************END MENU
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Barlow', sans-serif;*/
	/*font-family: 'Fraunces', serif;*/
}
h1 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	color: $white;
	font-size: 40px;
	letter-spacing: 0.2em;
}
h2, .card__article--text a, .card__client--name{
	font-family: 'Fraunces', serif;
}
p, span{
	font-family: 'Barlow', sans-serif;
	color: $paragraph;
}
.header{
    &__img-background{
        background-image: url(./img/mobile/image-header.jpg);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 550px;
    }
    &__title{
        text-align: center;
        position: relative;
        top: 15%;
    }
    &__arrow{
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
img {
	max-width: 100%;
}
picture{
	display: flex;
}
.card{
	display: flex;
	&__article{ 
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		&--text {
			text-align: center;
			padding: 5rem 1.8rem;
			& h2{
				color: $header;
				font-size: 32px;
				font-weight: 900;
			}
			& p{
				margin: 1.8rem auto;
			}
			& a{
				display: inline-block;
				text-decoration: none;
				font-weight: 900;
				color: $header;
			}
			& a:hover .under_button{
				opacity: 1;
				}
		}
		& .under_button{
			display: block;
			border-radius: 25px;
			position: relative;
			top: -7px;
			z-index: -1;
			width: 125px;
			opacity: 0.3;
		}
		& .yellow{
			border: 5px solid $yellow;
		}
		& .red{
			border: 5px solid $soft-Red;
		}
		
	}
	&__client{
        display: flex;
        flex-direction: column;
        margin: auto 2vw;
        text-align: center;
        &--header{
        text-align: center;
		margin: 50px auto auto auto;
		color: $grayish-Blue;
        }
        &--img{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin: 50px auto;
        }
		&--role{
			padding: 0.7rem;
			
		}
		&--name{
			padding-top: 1.5rem;
			color: $header;
		}
		&--p{
			color: $header;
			opacity: 0.7;
		}
    }
    &__description{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: auto;
        width: 100%;
		padding: 0 2rem;
		align-items: baseline;
		&--p{
			padding: 1rem 0;
		}
    }
	&__description1{
		p, h2{
			color: $darkDesatured-Cyan;
		}
	}
	&__description2{
		 p, h2{
		color: $dark-Blue;
	}
}
    &__txtImg{
        position: relative;
    }
}
.container{
    &__last--img{
        display: flex;
        flex: 50%;
        flex-wrap: wrap;
    }
    &__img{
        display: flex;
        flex: 50%;
    }
	&__client{
		margin: 1rem 1rem 6rem 1rem;
	}
}
.card__footer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: $backgroundFooter;
	&-social--img{
		margin: 1rem;
	}
	&--social{
		display: flex;
		justify-content: center;
		padding: 50px;
		& a{
			display: contents;
		}
		& a:hover .card__footer-social--img{
			color: $white;
		}
	}	
	&--menu{
		display: flex;
		list-style: none;
		justify-content: center;
		&--item a{
			text-decoration: none;
			margin: 3vw;
			font-family: 'Barlow', sans-serif;
			color: $dark-Cyan;
		}
		&--item a:hover{
			color: $white;
		}
	}
}
.fa-brands{
	font-size: 25px;
	color: $dark-Cyan;
}
.fa-brands:hover{
	color: $white;
}
@media screen and (min-width: 720px) {
	.card{
	flex: 50%;	
	&__container{
		display: flex;
	}
	&__article{
		display: flex;
		flex: 50%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		&--text{
			padding: 5rem;
		}
		&--text p{
			text-align: left;
		}
	}
	&__footer--social--img:hover{
		color: $white;
	}
	&__client--header{
		margin-top: 5rem;
	}
}
.container__reverse{
	flex-direction: row-reverse;
}
.container__txtImg{
	display: flex;
	flex-wrap: nowrap;
	flex: 50%;
}
.container__client{
	display: flex;
	margin-bottom: 5rem;
}
.container__last--img{
	flex-wrap: nowrap;
}
.nav-container .checkbox, .nav-container .hamburger-lines, .nav-container .menu-items .arrow-left{
	display: none;
}
.nav-container{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
#menu-items{
	transform: translate(-5%);
	background-color: transparent;
	flex-direction: row;
	position: relative;
	top: 0;
	width: fit-content;
	height: 0;
	}
#menu-items {
	& .menu-items-special{
		background-color: $white;
		margin: 0 0 0 2.2rem;
	}
	& .menu-items-special:hover{
		color: $white;
		background-color: $button-hover;
	}
	// effect menu
	& a.menu-items-link::after{
		content: "";
		display: block;
		margin: auto;
		height: 4px;
		border-radius: 25px;
		width: 0px;
		background: transparent;
		transition: all 0.5s ease;
	}
	& a.menu-items-link:hover::after{
	width: 100%;
  	background: $white;
	}
	& a.menu-items-link{
		display: inline-block;
		margin: 0 0 0 2.2rem;
		color: $white;
	}//end effect menu
}
.header{
	&__img-background{
		background-image: url(./img/desktop/image-header.jpg);
		}
	&__title{
		font-size: 60px;
	}
	}
}