body {
 margin: 0;
 padding:0;
 box-sizing: border-box;
}
.header{
    position: relative;
    margin-bottom: -4px; // ERORR
    &__logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &__menu{
        position: absolute;
        top: 0;
        right: 20px;
    }
}
.card{
    flex: 50%;
    &__article{
        display: flex;
        flex-direction: column;
        flex: 50%;
        margin: auto;
        position: relative;
        align-items: center;
        text-align: center;
    }
    &__article--text h2, &__article--text p, &__article--text a{
        width: 350px;
    }
    &__client{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 300px;
        &--header{
        text-align: center;
        }
    }
    &__client--img{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin: auto;
    }
    &__container{
        display: flex;
    }
    &__description{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        text-align: center;
    }
}
.fit_width{
    width: fit-content;
}
.container__2{
    display: flex;
    flex: 50%;
}
img{
    max-width:100%;
}
.container__last--image{
    display: flex;
    flex-wrap: nowrap;
}
.container__client{
    text-align: center;
    display: flex;
    flex-direction: row ;
}
@media only screen and (max-width: 740px){
    .container__2, .card__container{
        flex-direction: column;
    }
    .container__reverse{
        flex-direction: column-reverse;
    }
    .container__last--image{
        flex-wrap: wrap;
    }
    .container__img{
        flex: 50%;
    }
    .card__article--client{
        flex-direction: column;
        text-align: center;
    }
    .container__client{
        margin: auto;
    }
    .card__article--text {
        padding: 50px 0;
        width: 100%;
        }
    

}